.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.star {
  color: lightgray;
  font-size: 4rem;
  padding: 0.5rem;
  cursor: pointer;
}

.stars {
  padding: 2rem;
}

.star--active {
  color: gold;
}
